@plugin "daisyui/theme" {
    name: "denman-street";
    default: false;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0.005 285.823);
    --color-base-200: oklch(21% 0.006 285.885);
    --color-base-300: oklch(27% 0.033 256.848);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(75% 0.183 55.934);
    --color-primary-content: oklch(26% 0.079 36.259);
    --color-secondary: oklch(74% 0.238 322.16);
    --color-secondary-content: oklch(29% 0.136 325.661);
    --color-accent: oklch(79% 0.209 151.711);
    --color-accent-content: oklch(26% 0.065 152.934);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(71% 0.143 215.221);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(70% 0.14 182.503);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(79% 0.184 86.047);
    --color-warning-content: oklch(98% 0.026 102.212);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(97% 0.013 17.38);
    --radius-selector: 0.5rem;
    --radius-field: 2rem;
    --radius-box: 1rem;
    --size-selector: 0.21875rem;
    --size-field: 0.28125rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
}